.contenedor {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul {
    margin: 0%;
    padding: 0%;
}

header #marca {
    float: left;
}

header #marca h1 {
    margin: 0%
}

header .resaltado,
header .actual {
    color: #1293d4;
    font-weight: bold;
}

nav {
    float: right;
}

nav ul {
    list-style: none;
    display: table;
    overflow: hidden;
    width: 100%;
    background: black;
}

nav ul li {
    display: table-cell;
}

nav ul li a {
    color: #fff;
    display: block;
    line-height: 20px;
    padding: 15px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

nav ul li a span {
    background: #172517;
    display: block;
    height: 100%;
    width: 100%;
    left: 0;
    position: absolute;
    top: -55px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

nav ul li a span .icon {
    display: block;
    line-height: 60px;
}

nav ul li a:hover span {
    top: 0%
}


/*clase img redondeado*/

.img {
    border-radius: 5em;
}

#img {
    width: 200px;
    right: 300px;
    border-radius: 15px;
}


/*estilo para la cabecerea */

#cabecera {
    min-height: 400px;
    text-align: center;
    color: black;
}


/*colores a las cajas del nav*/

nav ul li a .color1 {
    background: #0e5061
}

nav ul li a .color2 {
    background: #f25844
}

nav ul li a .color3 {
    background: #5da5a1
}

body.imagen {
    color: burlywood;
    background-image: url("/img/fondoimg.jpg");
    background-size: 100%
}

table {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-collapse: separate;
    border-spacing: 5px;
    background: rgb(55, 172, 226);
    color: #fff;
    align-items: center;
    align-self: center;
}

#new {
    color: blue;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 2em;
    text-align: center;
}

aside>article.fondito {
    background: rgb(116, 177, 206);
    padding: 0%;
    margin: 0%;
    border-radius: 10%;
}

#new1 {
    color: rgb(228, 90, 49)
}

h2#var {
    font-size: xx-large;
    text-align: center;
    font-family: serif;
}

.pie {
    background: #0e50619c
}

.autor {
    background: #fff
}

#negro {
    color: #080808ee
}

.row {
    color: #172517;
}

.carousel-inner img {
    width: 100%;
    height: 350px;
}