body.inicio {
    background-image: url(/img/fondoimg.jpg);
    background-size: 100%;
    background-attachment: fixed
}

header.ini {
    margin: 0%;
    padding: 0%;
    alt: 100%;
    background: #f2584494
}

header {
    width: 100%
}

nav {
    margin: 20px auto;
    width: 90%;
    max-width: 1000px;
}

nav ul {
    list-style: none;
    display: table;
    overflow: hidden;
    width: 100%;
    background: black;
}

nav ul li {
    display: table-cell;
}

nav ul li a {
    color: #fff;
    display: block;
    line-height: 20px;
    padding: 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
}

nav ul li a span {
    background: #172517;
    display: block;
    height: 100%;
    width: 100%;
    left: 0;
    position: absolute;
    top: -55px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

nav ul li a span .icon {
    display: block;
    line-height: 60px;
}

nav ul li a:hover span {
    top: 0%
}


/*colores a las cajas del nav*/

nav ul li a .color1 {
    background: #0e50619c
}

nav ul li a .color2 {
    background: #f2584494
}

nav ul li a .color3 {
    background: #5da5a185
}

body.imagen {
    color: burlywood;
    background-image: url("/img/fondoimg.jpg");
    background-size: 100%
}

table {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-collapse: separate;
    border-spacing: 5px;
    background: rgb(55, 172, 226);
    color: #fff;
    align-items: center;
    align-self: center;
}

#new {
    color: blue;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 2em
}

#var {
    color: aliceblue
}

aside>article.fondito {
    background: rgb(116, 177, 206);
    padding: 0%;
    margin: 0%;
    border-radius: 10%;
}

#new1 {
    color: rgb(228, 90, 49)
}

h2#var {
    font-size: xx-large;
    text-align: center;
    font-family: serif;
}

.pie {
    background: #0e50619c
}

.autor {
    background: #fff
}